body{
    background-image: url(../img/fondo7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.cabecera{
    color: #111;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.titulo{
    margin: 0;
    padding: 15px;
}

.contenedor-llamadas{
    color: #FFF;
    background-color: rgba(200, 200, 200, 0.8);
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    min-width: 380px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
}

.mensaje{
    color: #222;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    background-color: rgba(200, 200, 200, 0.5);
    margin: 10px 5px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 1px 1px 2px #222;
    margin: 0px;
}

.mensaje:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.text-mensaje{
    margin: 10px;
}


.tipologia-llamada{
    color: #222;
    font-size: 28px;
    text-align: left;
    padding-left: 15px;
    border: #FFF 1px solid;
    border-radius: 10px;
    margin: 10px 5px;
}

.tipologia-llamada:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: #EEE;
}

.img-titan{
    width: 60px;
    margin: 10px;
    padding: 5px;
    box-sizing: content-box;
}

.img-titan:hover{
    background-color: rgba(20, 20, 20, 0.1);
    border-radius: 10px;
}

.text-llamada{
    margin: 0;
    margin-top: 10px;
    font-size: 28px;
    text-shadow: 1px 2px 3px #000;
}

.llamada{
    height: 35px;
    width: 95%;
}

.llamada:hover{
    box-shadow: 2px 3px 5px #000;
    border-radius: 20px;
}

.visto{
    position: relative;
    bottom: 12px;
}
