body{
    background-image: url(../img/fondo7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.cabecera{
    color: #111;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-family: Caveat;
    margin-bottom: 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.titulo{
    margin: 0;
    padding: 15px;
}

.contenedor-llamadas{
    color: #FFF;
    background-color: rgba(200, 200, 200, 0.5);
    text-align: center;
    font-family: Caveat;
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 30px;
}

.text-llamada{
    margin: 0;
    margin-top: 10px;
    font-size: 28px;
    text-shadow: 1px 2px 3px #000;
}

.llamada{
    height: 35px;
    width: 95%;
}

.llamada:hover{
    box-shadow: 2px 3px 5px #000;
    border-radius: 20px;
}